@import 'tailwindcss';

:root {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Montserrat', 'Poppins', 'Roboto', 'Nunito', sans-serif;
  background-color: #ffffff;
  cursor:
    url('/icons/pointer.svg') 16 16,
    auto;
}

a,
button {
  cursor:
    url('/icons/cursor-pointer.svg') 16 16,
    auto;
}

@layer utilities {
  .custom-line {
    height: 0.7px;
    width: 3rem; /* w-12 */
    margin-right: 1rem; /* mr-4 */
    background-color: #000000; /* black*/
    transition: all 0.3s;
  }

  .custom-line-active {
    width: 6rem; /* w-24 */
    background-color: #000000; /* black */
  }
  .group:hover .custom-line {
    width: 6rem; /* w-24 */
    background-color: #000000; /* black */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(-10px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }

  .animate-scaleIn {
    animation: scaleIn 0.3s ease-out;
  }
}
